@import "../scss/_colors.module.scss";

.ContactPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem 1rem;
  background-color: $light-background;
}
