@import "../scss/_colors.module.scss";

.categoriesPageContainer {
  display: flex;
   align-items: center;
  flex-direction: column;
  padding: 3rem 1rem;
  background-color: $light-background;
  min-height: 70vh;
  text-align: center;
  .cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
    max-width: 100%;
  }
}
