@import "../scss/_colors.module.scss";

.blogPageContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3rem 1rem;
  text-align: center;
  background-color: $light-background;

  .cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
    max-width: 100%;
  }
}
