@use "../scss/index" as *;

.OfferDetailsPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem 1rem;
  background-color: $light-background;

  .container {
    display: flex;
    max-width: 70%;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 10px;
    background-color: $white;
    padding: 2rem;

    @media (max-width: 678px) {
      max-width: 100%;
    }
  }

  .horizontalContainer {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
  }

  .header {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: $main-color;
  }

  .text {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .subheader {
    display: flex;
    align-items: center;
    color: $main-color;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
    span {
      color: $alt-color;
    }

    .icon {
      margin-right: 1rem;
    }
  }
  .link {
    text-decoration: underline;
    font-size: 1rem;
  }
  .instruction {
    margin-top: 1rem;
    font-size: 1rem;
    span {
      font-weight: 600;
    }
  }

  .logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid $grey;
    border-radius: 10px;
    width: 300px;
    margin-right: 2rem;
    height: 200px;
    padding: 2rem;
    margin-bottom: 2rem;
  }

  .logo {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: contain;
  }

  .btn {
    display: flex;
    background-color: $alt-color;
    padding: 0.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    font-weight: 500;
    border-radius: 64px;
    color: $white;
    display: inline-block;
    &:hover {
      background-color: $main-color;
    }
  }
}
