@use "../scss/index" as *;

.Footer {
  @extend .center-vertically;
  background-color: #4158d0;
  background: #4b6cb7; /* fallback for old browsers */
 
  background: linear-gradient(
    to right,
    #182848,
    #4b6cb7
  );  
  color: $white;
  .listContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3rem 1rem;
    max-width: 1080px;
    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  .list {
    list-style: none;
    align-self: flex-start;
    // margin-bottom: 1rem;
  }

  .listHeader {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .listItem {
    &:hover {
      color: $alt-color;
      cursor: pointer;
    }
  }

  .copyright {
    margin-bottom: 1rem;
    color: $white;
    font-size: 0.75rem;
  }

  .socialMediaLink {
    color: $white;
    text-decoration: none;
    font-size: 2rem;
    margin-right: 0.25rem;

    &:hover {
      color: $alt-color;
      cursor: pointer;
    }
  }
}
