@import "../scss/_colors.module.scss";

.latestArticles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $light-background;
  padding: 3rem 0;

  .cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
    max-width: 100%;
  }
}
