@import "../scss/_colors.module.scss";

.postCard {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: $white;
  width: 400px;
  height: 320px;
  margin: 1rem;
  text-align: left;
  &:hover {
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    cursor: pointer;
  }

  .image {
    border-radius: 10px 10px 0 0;
    object-fit: cover;

    width: 400px;
    height: 200px;
  }

  .title {
    overflow: hidden;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  .date {
    font-size: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    color: $grey;
  }
}
