@use "../scss/index" as *;

.topOffers {
  @extend .center-vertically;
  background-color: $light-background;
  padding: 3rem 1rem;
  .cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 900px;
    margin-top: 1rem;
  }

  .btn {
    background-color: $alt-color;
    padding: 0.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 500;
    border-radius: 64px;
    color: $white;
    display: inline-block;
    margin-top: 1.5rem;
    &:hover {
      background-color: $main-color;
    }
  }
}
