@import "../scss/_colors.module.scss";

.bolgPostPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem 1rem;
  background-color: $light-background;

  .container {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    @media only screen and (max-width: 768px) {
      max-width: 100%;
    }
  }

  .img {
    margin: 2rem 0;
    border-radius: 10px;
    aspect-ratio: 16 / 9;
    width: 100%;
    object-fit: cover;
  }

  .title {
    font-size: 3rem;
    font-weight: 600;
    @media only screen and (max-width: 768px) {
      font-size: 2rem;
    }
  }
  .date {
    font-size: 1rem;
    margin-top: 1rem;
    color: $grey;
  }
  .text {
    width: 100%;
    text-justify: auto;
    font-size: 1.5rem;
    @media only screen and (max-width: 768px) {
      font-size: 1.2rem;
    }
  }
}
